<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
                android:name=".ClipDetailActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".ClipListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
    </application>

</manifest>