<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
                android:name=".JoinMilkteaActivity"
                android:exported="false"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".SignUpActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"
                android:launchMode="singleInstance">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".WebViewAuthActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
    </application>

</manifest>