name: CI
on:
  push:
    branches:
      - develop
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate secret.properties
        env:
          PUSH_TO_FCM_AUTH: ${{ secrets.PUSH_TO_FCM_AUTH }}
          PUSH_TO_FCM_PUBLIC_KEY: ${{ secrets.PUSH_TO_FCM_PUBLIC_KEY }}
          PUSH_TO_FCM_SERVER_BASE_URL: ${{ secrets.PUSH_TO_FCM_SERVER_BASE_URL }}
        run: |
          echo "push_to_fcm.server_base_url=${PUSH_TO_FCM_SERVER_BASE_URL}" >> ./secret.properties
          echo "push_to_fcm.public_key=${PUSH_TO_FCM_PUBLIC_KEY}" >> ./secret.properties
          echo "push_to_fcm.auth=${PUSH_TO_FCM_AUTH}" >> ./secret.properties
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: unit-test
        run: ./gradlew lint testDebug --continue
      - name: build
        run: ./gradlew assembleRelease
      - uses: actions/upload-artifact@v3
        with:
          name: outputs
          path: app/build/outputs/

